---
import CustomTitle from '../components/CustomTitle.astro';
import MainLayouts from '../layouts/MainLayout.astro';
---

<MainLayouts title="About Page">
	<h1>About</h1>

	<CustomTitle title="Titulo personalizado" />
</MainLayouts>

<!-- <style is:global> -->
<style>
	h1 {
		color: red;
	}
</style>
