---
import MainLayouts from "../layouts/MainLayout.astro";

//Server Only
const name = "Christopher Alexander Aedo Pizarro";
---

<MainLayouts title="Home Page" />
<h1>{name}</h1>

<p>Momento actual : {new Date().toLocaleTimeString()}</p>

<p id="current-time"></p>

<script>
  //Client Only
  const p = document.querySelector("#current-time") as HTMLParagraphElement;

  p.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
</script>
